@font-face {
    font-family: 'icon-worksregular';
    src: url('../fonts/icon-works-webfont-webfont.eot');
    src: url('../fonts/icon-works-webfont-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/icon-works-webfont-webfont.woff') format('woff'),
         url('../fonts/icon-works-webfont-webfont.ttf') format('truetype'),
         url('../fonts/icon-works-webfont-webfont.svg#icon-worksregular') format('svg');
    font-weight: normal;
    font-style: normal;

}