/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-item div {
	/*padding: 0px;*/
	margin: 0px;
}
.owl-theme .owl-controls {
	margin-top: 20px;
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 34%;
	left: 10px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 34%;
	right: 10px;
}
.owl-theme .owl-controls .owl-buttons div {
	color: #000;
	display: inline-block;
	zoom: 1;
 	*display: inline;
	font-size: 30px;
	line-height: 1.1;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	margin-top: 0px!important;	
	margin-bottom: 0px!important;	
	width: 40px;
	height: 40px;
	/*border-radius: 20px;*/
	/*border: 2px solid #abcc37;*/
	color: #fff;
	/*background-color: #abcc37;*/
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
	/*border: 2px solid #abcc37;*/
	color: #000;
	background-color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 24px;
	height: 8px;
	filter: Alpha(Opacity=40);/*IE7 fix*/
	opacity: 0.4;
	/*background: #abcc37;*/
	margin: 4px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url("http://designingmedia.com/html/dmedia/css/owl-carousel/AjaxLoader.gif") no-repeat center center
}
